@charset "UTF-8";

#wrapper{
    display: grid;
    grid-template-columns: 250px 1fr 20%;
    grid-template-rows: 100px, auto, 50px;
    grid-template-areas: 
                            "header header header"
                            "nav main aside"
                            "footer footer footer";
}

.header{
    grid-area: header;
    background-color: cornflowerblue;
    color: white;
    font-size: 60px;
}

.nav{
    grid-area: nav;
    background-color: coral;
    color: white;
    height: 490px;
    padding: 5px;
}

.nav a{
    text-decoration: none;
}

.nav li{
    list-style-type: none;
    padding: 10%;
}

.nav a:link, :visited{
    color: blue;
}

.nav a:hover{
    background-color: crimson;
    color: white;
}

ul{
    margin-top: 0px;
    margin-bottom: 0px;
}

.main{
    grid-area: main;
    margin-left: 50px;

}

.main p{
    font-size: 14pt;
    margin-left: 50px;
    margin-right: 50px;
}

.main h1{
    font-size: 36px;
    color: coral;
}

.aside{
    grid-area: aside;
    float:right;
    margin-top: 35px;
    padding: 5px;
    width: 300px;
    height:400px;
}

.footer{
    grid-area: footer;
    text-align: center;
    background-color: cornflowerblue;
    color: rgba(255, 255, 255, 0.75);
}

.footer a{
    color: rgba(255, 255, 255, 0.75);
}

.map{
    position: fixed;
    top: 150px;
    left: 750px;
}

.main li{
    font-size: 30px;
    list-style:square url(images/bone.svg);
    padding: 10px;
}

.aside li{
    list-style-type: none;
    padding: 3px;

}

.nextbutton{
    position: fixed;
    font-size: 24px;
    left: 1100px;
    top: 500px;
}

.previousbutton{
    position: fixed;
    font-size: 24px;
    left: 600px;
    top: 500px;
}